pandas==0.20.3
numpy==1.14.0
SQLAlchemy==1.2.5
Flask==0.12.2
gunicorn==19.8.1
Jinja2==2.10
certifi==2018.1.18
click==6.7
itsdangerous==0.24
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2018.3
six==1.11.0
Werkzeug==0.14.1
wincertstore==0.2